<web-app id="WebApp_ID" version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Web Application</display-name>

  <!-- TODO spring context -->
<!--  <listener>-->
<!--    <listener-class>com.lzb.web.context.ContextLoaderListener</listener-class>-->
<!--  </listener>-->
<!--  <context-param>-->
<!--    <param-name>contextConfigLocation</param-name>-->
<!--    <param-value>spring.properties</param-value>-->
<!--  </context-param>-->


  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>com.lzb.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>springmvc.xml</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>


</web-app>
